<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  />
    <link rel="stylesheet" href="styles.css" />
    <title>To do list</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <a href="/logout">logout</a>
    </nav>
    <div class="container bg-light wrapper">
      <h2 class="bg-light" id="heading"></h2>
      <div class="table-responsive table">
      <table class="table table-striped table-hover">
        <thead >
          <tr>
            <th>Task</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% tasks.forEach((task) => { %>
          <tr>
            <td><%= task.name %></td>
            <td><%= task.status %></td>
            <td>
              <a href="/edit/<%= task._id %>"
                ><i class="fa-regular fa-pen-to-square "></i
              ></a>
              <a href="/delete/<%= task._id %>"
                ><i class="fa-solid fa-trash "></i
              ></a>
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
      <form action="/tasks" method="post" class="form-container " onsubmit="fetchTasks()">
        <input type="text" name="name" id="name" class="form-control" placeholder="add task" oninput="upper()"/><br />

        <input type="submit" class="btn btn-primary form-control" value="submit"></input>

      </form>
    </div>
    <footer>&copy; Achilles Deyeni, <span></span></footer>
    <script src="tasks.js"></script>
    <script src="index.js"></script>
  </body>
</html>
